nav{
  padding:16px;
  background-color: purple;
}
.nav-container{
  display:flex;
  justify-content:space-between;
}
.nav-container .logo{
  height:50px;
  width:20px;
  /* object-fit: fill; */
}

.nav-container ul{
  display: flex;
  /* list-style: none; */
  gap:10px;
}
.hero{
  height:600px;
  border: 5px solid rgb(130, 14, 184);
  object-fit: contain;
}
.hero img{
  height:100%;
  width:100%;
  display: block;
  /* object-fit: cover; */
}

.products{
  margin: 12px;
}

.products-container{
 max-width: 1100px;
 display: flex;
 margin:auto;
 flex-wrap: wrap;
 justify-content: space-between;
 row-gap: 32px;
}
.product-card{
  /* sizing is very important as it might scale large or small according the img, length of description, price etc*/
height:350px;
width:300px;
border: 1px solid rgb(15, 208, 214);
border-radius: 16px;
background-color: rgb(40, 8, 58);
display: inline-block;
padding:7px;
margin: 10px;

/* height:400px;
width:400px; */
}

.product-img{
  width:300px;
  height:250px;
  display: flex;
}
.product-img img{
  width:100%;
  height:95%;
  object-fit:fill;
}

.product-name{
  font-size: 18px;
  font-weight:600;
  margin-bottom: 6px;
}
.product-desc{
  font-size: 14px;  
  color:purple;
  margin-bottom:8px;
}
.product-desc p{
  font-size: 12px;
}

.product-price{
  display: flex;
  gap:8px;
}

.product-price-final{
font-size: 22px;
}
.product-price-original{
  font-size: 20px;
  text-decoration: line-through;
}
.product-price-discount{
  font-size: 18px;
  font-weight:600;
}

.footer{
  background-color: rgb(167, 80, 167);
  padding:28px;
  text-align:center;
  font-weight:600;
}

.product-detail-container{
  max-width:900px;
  display: flex;
  margin:auto;
  align-items: center;
  min-height:80vh;
}
.product-detail{
    margin:auto;
  /* padding: 32px 16px; */
}
.product-detail img{
  height:500px;
  width:400px;
}

.link-container{
  width:350px;
  padding:10px;
  display: flex;
}
.link-container ul {
  display: flex;
  margin: auto;
}
.link-container ul li{
  display: flex;
  margin:auto;
  font-size: 18px;
  list-style: none;
}
.link-container ul li a{
  margin: 15px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.link-container ul li a:hover{
  color: yellow;
  text-decoration: underline;
}
.link-container ul li a:visited{
  /* color: yellow; */
  text-decoration: underline;
}

.fashionista-container{
  height:600px;
  width: 1100px;
  justify-content: center;
  align-items: center;
  margin:auto;
}
.fashionista-desc{
  font-size: 50px;
}
.fashionista-img{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
.fashionista-container img{
  height:400px;
  width:350px;
  /* padding:10px; */
}
.logo{
  height: 100px;
  width:100px;
} 
